<div>
  <img src="{{$iconPath}}" width="{{$size}}" height="{{$size}}"/>
  {{#if {{$meter}} == FOUR_SEGMENT}}
    <img src="Assets/StatusMeter_Background_Circular_FourSegment.png" width="{{$size}}" height="{{$size}}" />
    <progress class="circular-progress"
              value="{{$fillProgress}}"
              data-hyui-mask-texture-path="Assets/StatusMeter_Mask_FourSegment.png"
              data-hyui-color="{{$fillColor}}"
              style="anchor-width: {{$size}}; anchor-height: {{$size}};">
    </progress>
  {{else}}
    <img src="Assets/StatusMeter_Background_Circular.png" width="{{$size}}" height="{{$size}}" />
    <progress class="circular-progress"
              value="{{$fillProgress}}"
              data-hyui-mask-texture-path="Assets/StatusMeter_Mask.png"
              data-hyui-color="{{$fillColor}}"
              style="anchor-width: {{$size}}; anchor-height: {{$size}};">
    </progress>
  {{/if}}



</div>