<style>
  @DestructiveButtonBg {
    background-image: Common/Buttons/Destructive.png;
  }

  @DestructiveButtonHoveredBg {
    background-image: Common/Buttons/Destructive_Hovered.png;
  }

  @DestructiveButtonPressedBg {
    background-image: Common/Buttons/Destructive_Pressed.png;
  }
</style>

<button class="custom-textbutton" id="{{$id}}" data-hyui-default-bg="@DestructiveButtonBg" data-hyui-hovered-bg="@DestructiveButtonHoveredBg" data-hyui-pressed-bg="@DestructiveButtonPressedBg" style="anchor-height: {{$height}}; flex-weight: 1;">{{$text}}</button>